<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Spam Detector</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}" />
    <script src="{{ url_for('static',filename='home.js') }}" defer></script>
  </head>
  <body>
    <div class="title">
      <h1>Spam Detector</h1>
      <p>Lets check your email is spam or not!</p>
    </div>
    <div class="form">
      <textarea id="email"></textarea>
      <button id="check">CHECK</button>
    </div>
    <div class="result">
      <h2 id="result"></h2>
    </div>
  </body>
</html>
